<div class="row">
  <div class="col-md-6">
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr>
        <td>Before</td>
        <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank">Pre-workshop survey</a></td>
      </tr>
      <tr>
        <td>10:00</td>
        <td>Welcome and Introduction</td>
      </tr>
      <tr>
        <td>10:15</td>
        <td><a href="https://datacarpentry.org/spreadsheet-ecology-lesson/">Data Organization in Spreadsheets</a></td>
      </tr>
      <tr>
        <td>12:00</td>
        <td>Lunch break</td>
      </tr>
      <tr>
        <td>13:00</td>
        <td><a href="https://datacarpentry.org/OpenRefine-ecology-lesson/">Data Cleaning with OpenRefine</a></td>
      </tr>
      <tr>
        <td>15:00</td>
        <td>END</td>
      </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 2</h3>
    <table class="table table-striped">
      <tr>
        <td>10:00</td>
        <td>Recap and questions</td>
      </tr>
      <tr>
        <td>10:15</td>
        <td><a href="https://datacarpentry.org/R-ecology-lesson/">Data Analysis and Visualization in R</a></td>
      </tr>
      <tr>
        <td>12:00</td>
        <td>Lunch break</td>
      </tr>
      <tr>
        <td>13:00</td>
        <td>Data Analysis and Visualization in R (Continued)</td>
      </tr>
      <tr>
        <td>15:00</td>
        <td>END</td>
      </tr>
    </table>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <h3>Day 3</h3>
    <table class="table table-striped">
      <tr>
        <td>10:00</td>
        <td>Recap and questions</td>
      </tr>
      <tr>
        <td>10:15</td>
        <td>Data Analysis and Visualization in R (Continued)</td>
      </tr>
      <tr>
        <td>12:00</td>
        <td>Lunch break</td>
      </tr>
      <tr>
        <td>13:00</td>
        <td>Data Analysis and Visualization in R (Continued)</td>
      </tr>
      <tr>
        <td>15:00</td>
        <td>END</td>
      </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 4</h3>
    <table class="table table-striped">
      <tr>
        <td>10:00</td>
        <td>Recap and questions</td>
      </tr>
      <tr>
        <td>10:15</td>
        <td><a href="https://datacarpentry.org/sql-ecology-lesson/">Data Management with SQL</a></td>
      </tr>
      <tr>
        <td>12:00</td>
        <td>Lunch break</td>
      </tr>
      <tr>
        <td>13:00</td>
        <td>Data Management with SQL (Continued)</td>
      </tr>
      <tr>
        <td>14:30</td>
        <td>Wrap up and <a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop survey</a></td>
      </tr>
      <tr>
        <td>15:00</td>
        <td>END</td>
      </tr>
    </table>
  </div>
</div>
